---
layout: default
title: Tim Chaplin
subtitle: Tim Chaplin
published: true
---

<!-- MAIN CONTENT -->    
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>About</h1>

      <p>I live and breath software solutions and innovations. During the day, I work with fortune 100 enterprise applications, and in the evening, I perfect my craft by contributing to and distributing open source software, writing, and constantly looking for ways to increase my knowledge of technology and the world.</p> 
      <p>At an early age, I began developing software and have been hooked on it since.  After attending California State University, Chico, I have gone on to work in Shanghai, Los Angeles, and London.</p>
    </div>
      
  </div>
  <div class="row">
    {% include books.html %}
  </div>
  <div class="row">
    {% include speaking.html %}
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Connect with me!</h3>
      <ul>
        <li><a href="https://www.linkedin.com/profile/view?id=343990676">LinkedIn</a></li>
        <li><a href="https://twitter.com/timchaplin">Twitter</a></li>
        <li><a href="https://github.com/tjchaplin">Github</a></li>
      </ul>
    </div>
  </div>
</div>
