---
layout: default
title: Tim Chaplin
subtitle: Tim Chaplin
published: true
---
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<ul>
			  {% for item in site.posts limit:1000 %}
			    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
			    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}
				    {% if date != ndate %}
				      <h4 class='month'>{{item.date | date: '%B %Y'}}</h4>
				    {% endif %}
				    <li>
					    <a class='item' href='#{{item.title}}'>{{item.title}}</a>
					</li>
			  {% endfor %}
			</ul>
		</div>
		<div class="span8">

			  {% for item in site.posts limit:1000 %}
			  	<h1><a id="{{item.title}}">{{item.title}}</a></h1>
			  	{{item.content}}
			  {% endfor %}
		</div>
	</div>
</div>