---
layout: default
title: Tim Chaplin
subtitle: Page1
published: true
---

<div style="float:left;" id="main_content_wrap" class='outer'>
	<div style="float:left;padding:10px;" id="main_content_wrap" class='inner'>
		<div style="float:left;width:20%;">
			<ul>
			  {% for item in site.posts limit:1000 %}
			    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
			    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}
				    {% if date != ndate %}
				      <h4 class='month'>{{item.date | date: '%B %Y'}}</h4>
				    {% endif %}
				    <li>
					    <a class='item' href='#{{item.title}}'>{{item.title}}</a>
					</li>
			  {% endfor %}
			</ul>
		</div>
		<div style="float:left;width:80%;">
			<div style="margin:15px;">
			  {% for item in site.posts limit:1000 %}
			  	<h1><a id="{{item.title}}">{{item.title}}</a></h1>
			  	{{item.content}}
			  {% endfor %}
			</div>
		</div>
	</div>
</div>