<div class="col-md-8 col-md-offset-2">
  <h3>Books</h3>
  <div class="thumbnail">
    <a title="AngularJs Test-driven Development" href="http://www.amazon.co.uk/AngularJS-Test-driven-Development-Timothy-Chaplin/dp/1784398837/"><img class="img-responsive center-block" alt="AngularJs Test-driven Development" src="/images/AngularJS-Test-driven-Development.png"></a>
    <div class="caption">
      <h5 class="text-center">AngularJs Test-driven Development</h5>
      <p>Learn about TDD techniques, the TDD lifecycle, and its power through clear examples to enhance your Angular applications
      Integrate AngularJS testing using Karma and Protractor to perform JavaScript unit tests
      A practical guide filled with examples that focus on a wide range of testing techniques with AngularJS components</p>
      <p><a title="AngularJs Test-driven Development" href="http://www.amazon.co.uk/AngularJS-Test-driven-Development-Timothy-Chaplin/dp/1784398837/">Check it out on Amazon</a></p>
    </div>
  </div>
</div>