<div class="col-md-8 col-md-offset-2">
    <h3>Speaking</h3>
      <div class="thumbnail">
        <a title="Proxies before proxies: The hidden gems of Javascript AOP" href="https://skillsmatter.com/skillscasts/5767-proxies-before-proxies-the-hidden-gems-of-javascript-aop"><img class="img-responsive center-block" alt="Fullstack Con 2014" src="/images/fullstackconference-2014.png"></a>
        <div class="caption">
          <h5 class="text-center">Proxies before proxies: The hidden gems of Javascript AOP</h5>
          <p>Tired of console.logging your way through applications? Want a way to slice through your application without adding complexity? AOP has been the answer to these questions for object oriented languages, such as Java and C#, but is not available in Javascript. ScarletJS(https://github.com/scarletjs/scarlet) is a project that tackles AOP using a clean, fluent, performant interface.</p>
          <p>The ScarletJS project provides Javascript developers a different way of thinking about traditional javascript problems. The project is still growing and looking into the future of what ES6 proxies will open up to the Javascript community.</p>
          <p>The talk will highlight the problems that javascript developers face with logging application behavior, security, and more. It will discuss the benefits of identifying a cross cutting concern, and programming using aspects. The talk will highlight how thinking about a project and cross cutting concerns can lead to cleaner more SOLID code. It will also discuss the future of ES6 proxies and the benefits that they will bring.</p>
          <p><a title="Proxies before proxies: The hidden gems of Javascript AOP" href="https://skillsmatter.com/skillscasts/5767-proxies-before-proxies-the-hidden-gems-of-javascript-aop">Check out the full speach</a></p>
        </div>
      </div>
  </div>